.layoutMain {
    width: 100%;
    margin: 0 auto;
    border: solid;
    text-align: center;
}
.lContainer {
    width: 100%;
    text-align: left;
    display: inline-block;
}

.leftPane {
    width: 28%;
    border: solid 1%;
    display: inline-block;
}

.rightPane {
    width: 68%;
    border: solid 1%;
    display: inline-block;
}

ul li {
    list-style: none;
    cursor: pointer;
    padding: 5px;
    text-decoration: underline;
    color: blue;
    
}



#slider {
    position: absolute;
    width: 100px;
    height: 100px;
    background: blue;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

.slidein {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.slideout {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}
    
@keyframes slidein {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slidein {
    100% { -webkit-transform: translateX(0%); }
}
    
@keyframes slideout {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slideout {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}